* {
  border-left: lightgray 5px;
  font-family: 'Manrope', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100%;
  max-width: 1000px;
  margin: auto
}

header,
footer {
    padding: 1rem 2rem 2rem;
}

nav li {
display:block;
width:14%;
float:left;
  font-size: 20px;  
  list-style-type: none;
  margin: 0;
  padding: 0;
}



h1 {
    color: tomato;
    font-size: 72px;
    padding: none;
    margin-bottom: none;
}

h2 {
    font-size: 36px;
    margin-bottom: none;
}

#blogTitle {
  color: black;
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 30px;
}

p::first-letter {
  font-size: 400%;
  color: rgb(53, 52, 52);
  background-color: white;
  border-radius: 2px;
  padding: 6px 3px;
  margin-right: 6px;
  float: left;
  margin-top: 6px;
}


#continues {
  color: tomato;
  font-size: 24px;
  font-weight: bolder;
  float: right;
}


img {
    width: 100%
}

a {
  color: darkgray;
  display: inline-block;

}


